<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FASTER - Logistics Company Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center text-white">
                    <small><i class="fa fa-phone-alt mr-2"></i>+05334173452</small>
                    <small class="px-3">|</small>
                    <small><i class="fa fa-envelope mr-2"></i>fbgokdeniz@gmail.com</small>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-white pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
            <a href="\Giris\Login" class="navbar-brand ml-lg-3">
                <h1 href="\Giris\Login" class="m-0 display-5 text-uppercase text-primary"><i class="fa fa-ship mr-2"></i>Hızlı</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav m-auto py-0">
                    <a href="\home\index" class="nav-item nav-link">Anasayfa</a>
                    <a href="\home\Privacy" class="nav-item nav-link">Bilgiler</a>
                    <a href="\yükbilgi\index" class="nav-item nav-link">Yük</a>
                    <a href="\personels\index" class="nav-item nav-link">Kaptanlar</a>
                    <a href="\sirkets\index" class="nav-item nav-link">Sirketler</a>
                    <a href="\gemibilgis\Mreate" class="nav-item nav-link ">Takip Sistemi</a>         
                    <a href="\gemibilgis\index" class="nav-item nav-link">Gemiler</a>
                    <a href="\limanbilgis\index" class="nav-item nav-link">Limanlar</a>
                                  

                </div>
                <a href="\Giris\create" class="btn btn-primary py-2 px-4 d-none d-lg-block">Kayıt ol</a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    <!-- Header Start -->
    <!-- Header End -->
    <!-- arası -->
    @RenderBody()
    <!-- Contact End -->
   
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/easing/easing.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Finalprdfs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <main role="main" class="pb-3">

        </main>
    </div>

    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
