@{
    ViewData["Title"] = "information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-white display-3">@ViewBag.messageString</h1>
        <div class="d-inline-flex align-items-center text-white">



            <div>
                <a asp-action="Index">Listeye geri dön</a>
            </div>
        </div>
    </div>
</div>
