@model dneme2.Models.YükBilgi

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<hr />
<hr />
<div class="container">
    <div class="d-flex justify-content-center h-50">
        <h1>Yük Bilgilerini Düzenle</h1>
        <hr />
    </div>
</div>

<hr />
<hr />
<hr />
<div class="row">
    <div class="d-flex justify-content-center h-50">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdYükbil" />
            <div class="form-group">
                <label asp-for="YükAgir" class="control-label">Yük Ağırlığı</label>
                <input asp-for="YükAgir" class="form-control" />
                <span asp-validation-for="YükAgir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YükMiktar" class="control-label">Yük Adedi</label>
                <input asp-for="YükMiktar" class="form-control" />
                <span asp-validation-for="YükMiktar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YükGüven" class="control-label">Yük Güvenliği</label>
                <input asp-for="YükGüven" class="form-control" />
                <span asp-validation-for="YükGüven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YukTur" class="control-label">Yük Türü</label>
                <input asp-for="YukTur" class="form-control" />
                <span asp-validation-for="YukTur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Yük Bilgilerine Geri Dön</a>
            </div>
        </form>
    </div>
</div>



