<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FASTER - Logistics Company Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="\img\favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>


    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-white display-3">Sistemimiz Hakkında</h1>
            <div class="d-inline-flex align-items-center text-white">
              
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Services Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Servislerimiz</h6>
                <h1 class="mb-4">En İyi Takip Sistemi</h1>

            </div>
            <div class="row  pb-3 ">
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <i class="fa fa-2x fa-comment text-dark pr-3"></i>
                        <h6 class="text-white font-weight-medium m-0">Geri Dönüşler</h6>
                    </div>
                    <p>Yorumlarınız bizim için değerli. Geri dönüşlerle kendimizi geliştiriyoruz.</p>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <i class="fa fa-2x fa-store text-dark pr-3"></i>
                        <h6 class="text-white font-weight-medium m-0">Kargolarınız Güvende</h6>
                    </div>
                    <p>Ürünlerinizi güvenli takip ediyoruz. Bu şekilde her hangi bir korkunuz veya sorununuz kalmıyor.</p>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <i class="fa fa-2x fa-ship text-dark pr-3"></i>
                        <h6 class="text-white font-weight-medium m-0">Takip</h6>
                    </div>
                    <p> Takip sistemimiz ile size ürününüzün nerede olduğunu hemen bildiriyoruz.</p>
                  
                </div>
               
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <i class="fa fa-2x fa-map text-dark pr-3"></i>
                        <h6 class="text-white font-weight-medium m-0">Harita</h6>
                    </div>
                    <p>Her zaman gözetimimiz altındasınız. Herhangi bir durumda hemen iletişime geçiyoruz.</p>
                    </div>
                </div>
         
        </div>
    </div>
    <!-- Services End -->
    <!--  Quote Request Start -->
    <div class="container-fluid bg-secondary my-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 py-5 py-lg-0">
                  
                    <h1 class="mb-4">Programımız Nasıl Çalışır ? </h1>
                    <p class="mb-4">Size programımızın kullanımı hakkında biraz bilgilendirmek isteriz. İlk önce yük, personel ve şirket bilgilerinizi doldurunuz. Ardından geminizin bilgilerini giriniz burada gideceği yer bulunduğu konum gibi bilgiler girilecek. En sonda bulunduğu liman hakkında ki bilgileri giriniz. Bunları ekledikden sonra yazılım ekibimiz sizle iletişime geçecek ve son rütüşlerde halledilecek. Geçmişde kaç kurumla çalıştığımızı aşağıda görebilirsiniz.  </p>
                    <div class="row">
                        <div class="col-sm-4">
                            <h1 class="text-primary mb-2" data-toggle="counter-up">232</h1>
                            <h6 class="font-weight-bold mb-4">Gemi</h6>
                        </div>
                        <div class="col-sm-4">
                            <h1 class="text-primary mb-2" data-toggle="counter-up">86</h1>
                            <h6 class="font-weight-bold mb-4">Şirket</h6>
                        </div>
                        <div class="col-sm-4">
                            <h1 class="text-primary mb-2" data-toggle="counter-up">117</h1>
                            <h6 class="font-weight-bold mb-4">Liman</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Quote Request Start -->
    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Müşteriler</h6>
                <h1 class="mb-4">Müşteri Memnuniyet Mesajlarımız</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="\img\testimonial-1.jpg" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">Mark Dengye</h6>
                            <small>- İş adamı</small>
                        </div>
                    </div>
                    <p class="m-0">Takip sisteminiz sayesinde işimin ne durumda olduğunu an be an görebildim, Mükemmelsiniz.</p>
                </div>
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="\img\testimonial-2.jpg" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">Srata Nurabi</h6>
                            <small>- Liman sahibi</small>
                        </div>
                    </div>
                    <p class="m-0">Bu işletme işini gerçekten hakkı ile yapıyor.</p>
                </div>
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="\img\testimonial-3.jpg" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">Deato Narusta</h6>
                            <small>- İthalatcı</small>
                        </div>
                    </div>
                    <p class="m-0">Bu sistem bir harika dostum. Bu zamana kadar bu sistemden nasıl haberim olmaz mükemmel!!!!!</p>
                </div>
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="\img\testimonial-4.jpg" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">Client Name</h6>
                            <small>- Ülke brükokratı</small>
                        </div>
                    </div>
                    <p class="m-0">Ülkemiz için ithalat ve ihracat çok önemli bu sistem sayesinde her şeyden haberdar olmak işlerimizi çok kolaylaştırıyor.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>