@model dneme2.Models.Sirket

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<hr />
<hr />
<div class="container">
    <div class="d-flex justify-content-center h-50">
        <h1>Şirket Kaydı Oluştur</h1>
        <hr />
    </div>
</div>

<hr />
<hr />
<hr />
<div class="row">
    <div class="d-flex justify-content-center h-50">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sirketisim" class="control-label">Şirket ismi</label>
                <input asp-for="Sirketisim" class="form-control" />
                <span asp-validation-for="Sirketisim" class="text-danger"></span>
            </div>
            <div class="form-group" value="Kayıt Oluştur">
                <label asp-for="SirketÜlke" class="control-label">Şirketin Menşei</label>
                <input asp-for="SirketÜlke" class="form-control" />
                <span asp-validation-for="SirketÜlke" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SirketTec" class="control-label">Tecrübe</label>
                <input asp-for="SirketTec" class="form-control" />
                <span asp-validation-for="SirketTec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kayıt Oluştur" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Şirketlere geri dön</a>
            </div>
        </form>
    </div>
</div>



